[data-accordion] {
	[data-accordion-handler] {
		cursor: pointer;
	}

	[data-accordion-body] {
		display: none;
	}

	[data-accordion-item][data-state='opened'] {
		[data-accordion-body] {
			display: block;
		}
	}
}
