@use '_mixins';

.bars {
	position: relative;
	display: block;
	width: 4rem;
	height: 4rem;
	padding: 0;
	border: 0;
	margin: 0;
	background: none;

	&::before,
	&::after,
	span {
		@include mixins.content;

		left: 0;
		width: 100%;
		height: 2px;
		background: currentcolor;
		transition: all 0.25s ease;
	}

	&::before {
		top: 0;
	}

	span {
		top: 50%;
		margin-top: -1px;
	}

	&::after {
		bottom: 0;
	}

	&.-active {
		&::before {
			top: 50%;
			margin-top: -1px;
			transform: rotate(45deg);
		}

		span {
			opacity: 0;
		}

		&::after {
			bottom: 50%;
			margin-bottom: -1px;
			transform: rotate(-45deg);
		}
	}
}
