[data-cursor] {
	[data-cursor-pointer] {
		position: fixed;
		z-index: 10000;
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		margin: -1rem 0 0 -1rem;
		background-color: #fff;
	}

	[data-cursor-follower] {
		position: fixed;
		z-index: 10000;
		width: 2rem;
		height: 2rem;
		border: 1px solid #fff;
		border-radius: 50%;
		margin: -1.5rem 0 0 -1.5rem;
		pointer-events: none;
		user-select: none;
	}
}
