@use '_mixins';

.field-file {
	display: block;
	width: 100%;
	padding: var(--spacing-16) var(--spacing-20);
	border: 1px solid transparent;
	border-radius: 1.4rem;
	cursor: pointer;

	input {
		@include mixins.hidden;
	}

	&__placeholder {
		display: block;
		opacity: 0.5;
	}

	&__value {
		display: none;
	}

	&__placeholder,
	&__value {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

[data-file][data-state='filled'] {
	.field-file__placeholder {
		display: none;
	}

	.field-file__value {
		display: block;
	}
}

[data-file][data-drag-state='over'] {
	border-color: currentColor;
}
