@use '_mixins';

.form {
	&__fieldset + &__fieldset {
		margin-top: var(--spacing-32);
	}

	&__group + &__group {
		margin-top: var(--spacing-16);
	}

	&__group_row {
		@include mixins.grid('flex');

		& {
			margin-left: calc(var(--spacing-16) * -1);
		}
	}

	&__group_row > &__item {
		flex: 1;
		padding-left: var(--spacing-16);
	}
}
