@use "accordion";

$block: '.loader';

#{$block} {
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #1d1e22;
	color: #fff;
	opacity: 1;
	transition: width 0.5s ease-in,
	transform 0.5s ease-in,
	opacity 0.5s ease-in;

	> div {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		width: 100vw;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	&#{$block}_closing {
		width: 0;
	}

	&#{$block}_closed {
		display: none;
	}
}
