@use '../mixins';

.pagination {
	@include mixins.grid('grid');

	& {
		justify-content: center;
		margin: 0;
		gap: var(--spacing-16);
		grid-auto-flow: column;
		list-style: none;
	}

	&__link {
		padding: var(--spacing-4) var(--spacing-8);
		border: 1px solid #ccc;
		background: #ccc;
		text-align: center;
	}
}
