[data-spoiler] {
	visibility: hidden;

	[data-spoiler-toggle] {
		display: block;
	}

	&[data-mode='text'] {
		[data-spoiler-intro] {
			display: block;
		}

		[data-spoiler-body] {
			display: none;
		}

		&[data-state='opened'] {
			[data-spoiler-intro] {
				display: none;
			}

			[data-spoiler-body] {
				display: block;
			}
		}
	}

	&[data-mode='html'] {
		[data-spoiler-body] {
			overflow: hidden;
			height: 10rem;
		}

		&[data-state='opened'] {
			[data-spoiler-body] {
				height: auto;
			}
		}
	}

	&[data-initialized='true'] {
		visibility: visible;
	}
}
