@use '_mixins';

[data-tabs] {
	[data-tabs-header] {
		@include mixins.grid('flex');
	}

	[data-tabs-handler] {
		cursor: pointer;
	}

	[data-tabs-body] {
		[data-tabs-item] {
			display: none;
		}

		[data-tabs-item][data-state='opened'] {
			display: block;
		}
	}
}
