@import "../mixins";

:root {
  // base
  //--base-font-size: 10px;
  --base-font-family: system-ui;
  --base-text-color: #333;
  --base-text-line-height: 1.4;

  // grid
  --container-max-width: 120rem;
  --container-gap: 4rem;
  --gap: 2rem;

  // typography
  --header-text-font-family: system-ui;
  --header-text-color: inherit;

  --header-text-font-size-1: 5rem;
  --header-text-font-size-2: 3rem;
  --header-text-font-size-3: 2.8rem;
  --header-text-font-size-4: 2.4rem;
  --header-text-font-size-5: 2.2rem;
  --header-text-font-size-6: 2rem;

  --header-text-line-height-1: 1.2;
  --header-text-line-height-2: 1.2;
  --header-text-line-height-3: 1.2;
  --header-text-line-height-4: 1.2;
  --header-text-line-height-5: 1.2;
  --header-text-line-height-6: 1.2;

  --header-text-font-weight-1: 400;
  --header-text-font-weight-2: 400;
  --header-text-font-weight-3: 400;
  --header-text-font-weight-4: 400;
  --header-text-font-weight-5: 400;
  --header-text-font-weight-6: 400;

  --header-text-bottom-offset-1: 2rem;
  --header-text-bottom-offset-2: 2rem;
  --header-text-bottom-offset-3: 2rem;
  --header-text-bottom-offset-4: 2rem;
  --header-text-bottom-offset-5: 2rem;
  --header-text-bottom-offset-6: 2rem;

  --content-text-font-size: 1.8rem;
  --content-text-bottom-offset: 1rem;
  --content-text-bottom-offset-header: 3rem;
  --content-text-list-offset: calc(var(--content-text-bottom-offset) / 3);

  // colors
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #000;

  //transitions
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

	// spacing
	--spacing-4: 0.4rem;
	--spacing-8: 0.8rem;
	--spacing-12: 1.2rem;
	--spacing-16: 1.6rem;
	--spacing-20: 2rem;
	--spacing-24: 2.4rem;
	--spacing-28: 2.8rem;
	--spacing-32: 3.2rem;
	--spacing-36: 3.6rem;
	--spacing-40: 4rem;
	--spacing-44: 4.4rem;
	--spacing-48: 4.8rem;
	--spacing-52: 5.2rem;
	--spacing-56: 5.6rem;
	--spacing-60: 6rem;
	--spacing-64: 6.4rem;
	--spacing-68: 6.8rem;
	--spacing-72: 7.2rem;
	--spacing-76: 7.6rem;
	--spacing-80: 8rem;
	--spacing-84: 8.4rem;
	--spacing-88: 8.8rem;
	--spacing-92: 9.2rem;
	--spacing-96: 9.6rem;
	--spacing-100: 10rem;
	--spacing-104: 10.4rem;
	--spacing-108: 10.8rem;
	--spacing-112: 11.2rem;
	--spacing-116: 11.6rem;
	--spacing-120: 12rem;
	--spacing-124: 12.4rem;
	--spacing-128: 12.8rem;
	--spacing-132: 13.2rem;
	--spacing-136: 13.6rem;
	--spacing-140: 14rem;
	--spacing-144: 14.4rem;
	--spacing-148: 14.8rem;
	--spacing-152: 15.2rem;
	--spacing-156: 15.6rem;
	--spacing-160: 16rem;
	--spacing-164: 16.4rem;
	--spacing-168: 16.8rem;
	--spacing-172: 17.2rem;
	--spacing-176: 17.6rem;
	--spacing-180: 18rem;
	--spacing-184: 18.4rem;
	--spacing-188: 18.8rem;
	--spacing-192: 19.2rem;
	--spacing-196: 19.6rem;
	--spacing-200: 20rem;

	// responsive
	@include bp-desktop-only {
		--base-font-size: 10px;
	}

	@include bp-laptop-only {
		--base-font-size: 0.6944444444vw;
	}

	@include bp-tablet-only {
		--base-font-size: 1.3020833333vw;
	}

	@include bp-mobile-only {
		--base-font-size: 2.6666666667vw;
	}
}
