@use "../mixins";

/* FONT
 * -------------------------------------------------- */

/*
 * 100 = thin
 * 200 = extra-light
 * 300 = light
 * 400 = normal, book
 * 500 = medium
 * 600 = semi-bold
 * 700 = bold
 * 800 = heavy
 * 900 = black
 */

$fontName: 'FONT_NAME';

//@include font-face($fontName, 'FILE_NAME', 400);

.-fonts-ready {
	body {
		font-family: $fontName, var(--base-font-family);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		font-family: $fontName, var(--header-text-font-family);
	}
}
