{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "entry",
				"corejs": 3,
				"targets": "last 3 version"
			}
		]
	],
	"plugins": [
		"@babel/plugin-transform-runtime",
		[
			"@babel/plugin-transform-react-jsx",
			{
				"pragma": "h",
				"pragmaFrag": "Fragment"
			}
		]
	]
}
