{
	"extends": ["airbnb-base", "prettier"],

	"env": {
		"browser": true
	},

	"parserOptions": {
		"ecmaVersion": "latest"
	},

	"globals": {
		"MK": "writable",
		"ymaps": "readonly",
		"google": "readonly"
	},

	"plugins": ["prettier"],

	"rules": {
		"import/prefer-default-export": 0,
		"prettier/prettier": "error",
		"radix": "off",
		"no-console": "off",
		"no-param-reassign": [
			2,
			{
				"props": false
			}
		]
	}
}
