{
	"extends": ["preact", "airbnb-base", "prettier"],

	"env": {
		"browser": true,
		"es2021": true
	},

	"settings": {
		"jest": {
			"version": 27
		}
	},

	"parserOptions": {
		"ecmaVersion": 12,
		"sourceType": "module"
	},

	"globals": {
		"MK": "writable",
		"ymaps": "readonly",
		"google": "readonly"
	},

	"plugins": ["prettier"],

	"ecmaFeatures": {
		"jsx": false
	},

	"parser": "@babel/eslint-parser",

	"rules": {
		"prettier/prettier": "error",
		"radix": "off",
		"no-console": "off",
		"no-param-reassign": [
			2,
			{
				"props": false
			}
		]
	}
}
