/* COMMON
 * -------------------------------------------------- */

.header
  background: #aaa
.navigation
  background: #bbb
.aside
  background: #ccc
.section
  background: #ddd
.footer
  background: #eee

.container
  max-width: 1200px
  margin: 0 auto
  padding-left: $gap
  padding-right: $gap

.wrapper
  height: 100%
  display: flex
  flex-direction: column

  .main
    +flex()
    flex: 1 0 auto

    .aside
      +flex-width(300px)

    .section
      flex: 1

.article
  hyphens: auto

  table
    width: 100%
    margin-bottom: $textMargin

    td,
    th
      border: 1px solid #ccc
      padding: 10px

    // tr:nth-child(2n+1)
    //   td,
    //   th
    //     background: #ddd

  .table
    margin-bottom: $textMargin
    overflow: auto

    table
      margin-bottom: 0

    &:last-child
      margin-bottom: 0

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6
      margin-top: $textHeadMargin
