meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
title title
meta(name="keywords" content="")
meta(name="description" content="")
meta(name="viewport" content="width=device-width, initial-scale=1")
//meta(name="format-detection" content="telephone=no")
link(rel="stylesheet" href="assets/css/general.min.css")
