extends layouts/layout.pug

block main
	aside.aside aside
	// aside

	section.section
		article.article
			h1=meta.title

			input(type="tel", name="phone")
			input(type="text", name="", data-calendar, placeholder="дд.мм.гггг")
			input(type="text", name="", data-mask-number)

			h2 Modal
			a(href="#modal_example" data-modal) Open
			br
			a(href="https://www.youtube.com/embed/G_hKGYD8gOg" data-modal-video) Open YouTube
			br
			a(href="https://vimeo.com/191947042" data-modal-video) Open Vimeo
			br
			a(href="https://images.unsplash.com/photo-1561444533-fa0a9266bf67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80" data-modal-image, title="Image Caption") Open Image Landscape with Caption
			br
			a(href="https://images.unsplash.com/photo-1561483534-44abb06e7b4c?ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80" data-modal-image) Open Image Portrait

			div(data-fullheight, style="width: 200px; min-height: 500px; background: #444") 100% window height
			div(data-parallax, style="width: 100px; height: 100px; background: #000")

			h2 Tabs
			div.tabs
				div.tabs-title
					div.tabs-item(data-hash="tab1").-active title 1
					div.tabs-item(data-hash="tab2") title 2
					div.tabs-item(data-hash="tab3") title 3
				div.tabs-content
					div.tabs-item.-active content 1
					div.tabs-item content 2
					div.tabs-item content 3

			h2 Accordion
			div.accordion
				div.accordion-item
					div.accordion-header accordion title 1
					div.accordion-body accordion content 1
				div.accordion-item
					div.accordion-header accordion title 2
					div.accordion-body accordion content 2

			h2 Count
			div.counter
				button.counter-minus -
				input(type="text" value="до 5 после" data-prefix="до " data-postfix=" после" data-min="2" data-max="10")
				button.counter-plus +

			h2 Sticky
			div(style="position: relative; height: 1000px; width: 500px; background: #000")
				div(data-sticky)

			h2 Text
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel beatae perferendis a ut nihil nostrum soluta ad sapiente necessitatibus. Quas magni, illum libero perspiciatis ab quaerat at omnis recusandae dicta.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel beatae perferendis a ut nihil nostrum soluta ad sapiente necessitatibus. Quas magni, illum libero perspiciatis ab quaerat at omnis recusandae dicta.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel beatae perferendis a ut nihil nostrum soluta ad sapiente necessitatibus. Quas magni, illum libero perspiciatis ab quaerat at omnis recusandae dicta.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel beatae perferendis a ut nihil nostrum soluta ad sapiente necessitatibus. Quas magni, illum libero perspiciatis ab quaerat at omnis recusandae dicta.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel beatae perferendis a ut nihil nostrum soluta ad sapiente necessitatibus. Quas magni, illum libero perspiciatis ab quaerat at omnis recusandae dicta.
	// section

	div.modal#modal_example
		div.modal-container
			button.modal-close(data-modal-close) &times;

			h1 Modal title
			p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas ratione natus eaque at quasi rerum deleniti, velit ullam, corrupti accusamus cum nulla quidem? Distinctio ad quasi praesentium rerum ab reprehenderit?