extends layouts/layout.pug

block main
	aside.aside aside
	// aside

	section.section
		article.article
			h1 Moonkake

			button(data-modal="modal_callback") Open
	// section

	div.modal#modal_callback
		div.modal-container
			button.modal-close(data-modal-close="modal_callback") &times;

			h1 Modal title
			p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas ratione natus eaque at quasi rerum deleniti, velit ullam, corrupti accusamus cum nulla quidem? Distinctio ad quasi praesentium rerum ab reprehenderit?