extends layouts/layout.pug

block main
	aside.aside aside
	// aside

	section.section
		article.article
			h1 Moonkake
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dolorum officia earum necessitatibus totam inventore! Voluptas, fugit ea maxime sunt maiores consectetur, id saepe repellat repudiandae quam assumenda tempore aliquid.
	// section
