extends layouts/layout.pug

block main
	section.section
		div.container
			h1=meta.title
			p Start PUG/SASS/JS template
			p: a(href="https://github.com/detectiveshelby/moonkake") GitHub
			p: a(href="https://devbrains.ru/") DevBrains
	// section