extends layouts/layout.pug

block main
  main.main
    aside.aside aside
    // aside

    section.section

      div.owl-carousel
        -for (var i = 0; i < 10; i++)
          div.carousel-item=i

      article.article

        h1 h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        h2 h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        h3 h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        h4 h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        h5 h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        h6 h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        a.button.js-popup(href="#modal") Modal

        div.popup.mfp-hide#modal
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, tempora, dolores eos delectus reiciendis dolor excepturi error dignissimos provident nemo cumque ducimus accusantium repudiandae culpa assumenda nisi ut reprehenderit ad tempore commodi voluptatibus debitis officia vero inventore harum placeat enim sint voluptates est numquam fugiat consequuntur perspiciatis suscipit esse iusto similique id libero omnis amet dicta aliquid voluptatem! Eum, vitae, accusamus, quam, a alias nihil id libero temporibus corporis quibusdam obcaecati optio suscipit iure nesciunt aut ullam ex dolores perferendis quasi enim recusandae eius ad modi blanditiis quis. Earum, vero, illum iusto ex vitae ducimus. Illum rerum blanditiis quisquam placeat. Sapiente, dolorum, est, porro, doloremque neque illum ratione quidem a libero voluptate ipsa quaerat voluptatibus. Eveniet, quia, reiciendis, a dolor fuga vero culpa commodi voluptate aperiam sequi facilis recusandae ipsum mollitia animi ipsa harum dolores officia doloremque dolorem tempore fugit perferendis suscipit rerum nulla minima. Ab, id sed blanditiis quod dignissimos molestias assumenda eum sit nesciunt cum iste maxime porro at! Officiis, harum, similique deserunt fuga ipsum unde enim culpa dolore quae laboriosam quidem fugit laborum soluta commodi optio voluptate itaque ratione numquam odio fugiat nostrum incidunt esse laudantium amet ab architecto accusantium odit? Quod maxime necessitatibus excepturi ipsa neque!

        ul
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        ol
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        p: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        table
          tr
            td 1
            td 2
            td 3
          tr
            td 1
            td 2
            td 3
      // article

      div.grid.text-center
        div.col-12 100%

        div.col-6 50%
        div.col-6 50%

        div.col-6 50%
        div.col-3 25%
        div.col-3 25%

        div.col-4 33%
        div.col-4 33%
        div.col-4 33%

        div.col-3 25%
        div.col-3 25%
        div.col-3 25%
        div.col-3 25%

        div.col-2 16.7%
        div.col-2 16.7%
        div.col-2 16.7%
        div.col-2 16.7%
        div.col-2 16.7%
        div.col-2 16.7%

        div.col-1 8.3%
        div.col-1 8.3%
        div.col-1 8.3%
        div.col-1 8.3%
        div.col-1 8.3%
        div.col-1 8.3%
        div.col-1 8.3%
        div.col-1 8.3%
        div.col-1 8.3%
        div.col-1 8.3%
        div.col-1 8.3%
        div.col-1 8.3%
    // section
  // main
