{% macro field_file(data) %}
    <label class="field-file field-file_appearance_{{ data.appearance|default('light') }}" data-file>
        <input type="file" name="{{ data.name|default('') }}" data-file-input>
        <span class="field-file__placeholder">{{ data.placeholder|default('Приложить файл') }}</span>
        <span class="field-file__value" data-file-value></span>
    </label>
    {# field-file #}
{% endmacro %}
