<section class="section section_intro">
    <div class="container section__container">
        <h1>{{ title }}</h1>
        <p><small>{{ description }}</small></p>
        <p><a href="https://github.com/pro-verstka/moonkake">GitHub</a></p>
        <p><a href="https://devbrains.io">DevBrains</a></p>
    </div>
</section>
{# section #}
