.breadcrumbs {
	@include grid('flex');

	.list__item {
		&::after {
			content: '/';
			margin: 0 var(--spacing-8);
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}

	.list__link {
		display: inline-block;
	}
}
