.button {
	display: inline-flex;
	text-decoration: none;
	padding: var(--spacing-12) var(--spacing-20);
	border: 0;
	border-radius: 0;
	background: #ccc;
	color: #000;
	text-align: center;
	transition-property: color, background-color, opacity, border-color;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}
