$block: '.field';

#{$block} {
	&__label {
		margin-bottom: var(--spacing-4);
	}

	&__input {
		width: 100%;
		border: 1px solid #eeeeee;
		border-radius: 0;
		padding: var(--spacing-12) var(--spacing-20);
		color: #000000;
		box-shadow: none;
		appearance: none;
		text-overflow: ellipsis;
		//color-scheme: dark

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			transition: background-color 600000s 0s, color 600000s 0s;
		}

		&::placeholder {
			opacity: 1;
			color: #ccc;
		}
	}
}

#{$block}_error {
	#{$block}__input {
		border-color: red;
	}
}

#{$block}_success {
	#{$block}__input {
		border-color: green;
	}
}
