.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: var(--spacing-32);

	&:not(:first-child) {
		margin-top: var(--spacing-32);
	}

	&:not(:last-child) {
		margin-bottom: var(--spacing-32);
	}

	&__item {
		display: block;
	}

	img {
		width: 100%;
		display: block;
	}
}
