@import "../mixins";

.pagination {
	@include grid('grid');
	grid-auto-flow: column;
	gap: var(--spacing-16);
	justify-content: center;
	list-style: none;
	margin: 0;

	&__link {
		padding: var(--spacing-4) var(--spacing-8);
		border: 1px solid #ccc;
		background: #ccc;
		text-align: center;
	}
}
