@import "../mixins";

/*select {
	appearance: none;
	width: 100%;
	border: 1px solid #eeeeee;
	border-radius: 0;
	padding: var(--spacing-12) var(--spacing-20);

	&::-ms-expand {
		display: none;
	}

	option[disabled] {
		display: none;
	}
}*/

$block: '.select';

#{$block} {
	position: relative;
	text-align: left;
	color: #000;

	select {
		@include hidden;
	}

	&__label {
		border: 1px solid #ccc;
		position: relative;
		border-radius: .4rem;
		cursor: pointer;
		background-color: #fff;
		height: 4.44rem;

		&::after {
			@include content();
			right: 2rem;
			top: 50%;
			transform: translateY(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: .6rem .5rem 0 .5rem;
			border-color: currentColor transparent transparent transparent;
		}
	}

	&__value,
	&__placeholder {
		padding: 1rem 4rem 1rem 2rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__placeholder {
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .5;
	}

	&__dropdown {
		display: none;
		position: absolute;
		top: 100%;
		border: .1rem solid #ccc;
		border-radius: 0 0 .3rem .3rem;
		left: 0;
		width: 100%;
		background-color: #fff;
		margin-top: -.1rem;
	}

	&__option {
		padding: 1rem 2rem;
		cursor: pointer;

		&:hover,
		&_selected {
			background-color: #ccc;
		}

		&_selected {
			cursor: default;
		}

		&_disabled {
			opacity: .5;
			cursor: default;
		}

		&_hidden {
			display: none;
		}
	}

	&#{$block}_touched {
		.select__placeholder {
			display: none;
		}
	}

	&#{$block}_opened {
		z-index: 1;

		#{$block}__label {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		#{$block}__dropdown {
			display: block;
		}
	}

	&#{$block}_disabled {
		opacity: .5;
		pointer-events: none;
		cursor: default;
	}
}
