.swiper {
	box-sizing: inherit;

	*,
	*::before,
	*::after {
		box-sizing: inherit;
		outline: none;
	}

	img {
		display: block;
		width: 100%;
	}
}

.slider {
	.swiper-pagination {
		.swiper-pagination-bullet {
			opacity: 1;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		&::before {
			display: none;
		}
	}
}
