.article
	hyphens: auto

	table
		width: 100%
		margin-bottom: $textMargin

		td,
		th
			border: .1rem solid #ccc
			padding: 1rem

	.table
		margin-bottom: $textMargin
		overflow: auto

		table
			margin-bottom: 0

		&:last-child
			margin-bottom: 0

		& + h1,
		& + h2,
		& + h3,
		& + h4,
		& + h5,
		& + h6,
		& + .h1,
		& + .h2,
		& + .h3,
		& + .h4,
		& + .h5,
		& + .h6
			margin-top: $textHeadMargin

	img
		&[style*='float: left'],
		&[align='left']
			margin: 0 1.5rem 1.5rem 0
			float: left

		&[style*='float: right'],
		&[align='right']
			margin: 0 0 1.5rem 1.5rem
			float: right
