.button
	display: inline-block
	text-decoration: none
	padding: 10px 20px
	border: 0
	border-radius: 0
	background: #ccc
	color: #000
	text-align: center
	transition: color .25s, background-color .25s, opacity .25s, border-color .25s

	&.button--default

	&.button--primary

	&.button--secondary
