.field
	&__label
		margin-bottom: 0.5rem

	&__input
		width: 100%
		border: .1rem solid #eeeeee
		border-radius: 0
		padding: 1rem 1rem
		color: #000000
		box-shadow: none
		appearance: none

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active
			transition: background-color 36000s ease-in-out 0s

.field_error
	.field__input
		border-color: red

.field_success
	.field__input
		border-color: green
