.form
	&-fieldset + &-fieldset
		margin-top: $gap * 2

	&-group + &-group
		margin-top: $gap

	&-row
		+flex()
		margin-left: -$gap

	&-row > &-item
		padding-left: $gap
		flex: 1

	&-item

	&-label
		display: block
