/* COMMON
 * -------------------------------------------------- */

// html
// 	@media (min-width: 160rem)
// 		font-size: $baseSize + 1px

// 	@media (min-width: 180rem)
// 		font-size: $baseSize + 2px

// 	@media (min-width: 200rem)
// 		font-size: $baseSize + 3px

// 	@media (min-width: 220rem)
// 		font-size: $baseSize + 4px

.wrapper
	height: 100%
	display: flex
	flex-direction: column

	.main
		+flex()
		flex: 1 0 auto
		width: 100%

		.section
			flex: 1