/* COMMON
 * -------------------------------------------------- */

.wrapper
	height: 100%
	display: flex
	flex-direction: column

	.main
		+flex()
		flex: 1

		.aside
			+width(300px)

		.section
			flex: 1