include ../blocks/mixins.pug

-
	const time = new Date().getTime();

doctype html

html(lang="ru")

	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=Edge")
		title=meta.title
		meta(name="keywords" content="")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")
		link(data-app-css rel="stylesheet" href=`assets/css/app.min.css?v=${time}`)
		//link(rel="preload" href=`assets/css/app.min.css?v=${time}` as="style" onload="this.rel='stylesheet'")

	body

		div.wrapper
			header.header
				div.container
			// header

			main.main
				block main
			// main

			footer.footer
				div.container
			// footer
		// wrapper

		// include ../../img/icons.svg

		// JS
		script(data-app-js defer src=`assets/js/app.min.js?v=${time}`)

		block js

		//
			script.
				setTimeout(function () {
					var script = document.createElement('script');
					script.src = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=initMap';
					document.body.appendChild(script);
				}, 3000);
