section.section.section_intro
	div.container.section__container
		h1=index.title
		p: small=index.description
		p: a(href="https://github.com/detectiveshelby/moonkake") GitHub
		p: a(href="https://devbrains.io") DevBrains
// section
