section.section.section_intro
	div.container.section__container(data-scroll-fx)
		h1=title
		p: small=description
		p: a(href="https://github.com/detectiveshelby/moonkake") GitHub
		p: a(href="https://devbrains.io") DevBrains
// section
