@mixin font-face($family, $filename: $family, $weight: normal, $style: normal) {
	@font-face {
		font-family: "#{$family}";
		font-display: swap;
		src: url('../fonts/#{$filename}.woff2') format('woff2'), url('../fonts/#{$filename}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
	}
}
