@mixin scroll() {
	&::-webkit-scrollbar {
		width: 0.4rem;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 0.8rem;
		border: 0.4rem solid transparent;
		background-clip: content-box;
		background-color: rgba(#000, 0.5);
	}

	scrollbar-color: rgba(#000, 0.5) transparent;
	scrollbar-width: thin;
}
