extends templates/layouts/layout

block css
	link(rel="stylesheet" href="styles/pages/main.scss")
	link(rel="stylesheet" href="styles/pages/examples.scss")

block js
	script(type="module" src="scripts/pages/main.js")
	script(type="module" src="scripts/pages/examples.js")

block main
	include templates/widgets/section-intro
	include templates/widgets/section-examples

block bottom
	div(data-cursor)
		div(data-cursor-pointer)
		div(data-cursor-follower)
