extends templates/layouts/layout

block css
	link(rel="stylesheet" href="styles/pages/main.scss")

block js
	script(type="module" src="scripts/pages/main.js")

block main
	include templates/widgets/section-intro
