$mobile: 700px; // target 360
$tablet: 1100px; // target 768
$laptop: 1600px; // target 1440
$desktop: 1920px; // target 1920

@mixin bp-mobile-only() {
	@media (max-width: $mobile) {
		@content;
	}
}

@mixin bp-tablet-only() {
	@media (min-width: $mobile + 0.1px) and (max-width: $tablet) {
		@content;
	}
}

@mixin bp-tablet-up() {
	@media (min-width: $mobile + 0.1px) {
		@content;
	}
}

@mixin bp-tablet-down() {
	@media (max-width: $tablet) {
		@content;
	}
}

@mixin bp-laptop-only() {
	@media (min-width: $tablet + 0.1px) and (max-width: $laptop) {
		@content;
	}
}

@mixin bp-laptop-up() {
	@media (min-width: $tablet + 0.1px) {
		@content;
	}
}

@mixin bp-laptop-down() {
	@media (max-width: $laptop) {
		@content;
	}
}

@mixin bp-desktop-only() {
	@media (min-width: $laptop + 0.1px) and (max-width: $desktop) {
		@content;
	}
}

@mixin bp-desktop-up() {
	@media (min-width: $laptop + 0.1px) {
		@content;
	}
}
